/* ==========================================================================
   Colors
   ========================================================================== */
   $listItemOddColor:rgba(189, 29, 55, 0.4);
   $listItemEvenColor: radial-gradient(circle, #eaeaea 0%, #56232300 100%);
   $userNameColor: linear-gradient(90deg, #833ab4 0%, #964798 17%, #bb6262 50%, #fcb045a3 100%);
   $headerHoverColor: linear-gradient(90deg, rgb(189 29 55 / 40%) 0%, rgba(163, 81, 156, 0) 100%);
   $borderColor: rgb(0, 0, 0);
   $boxShadowColor: #373737;
   $paginationBackgroundColor: #ffff;
   $imageBoxShadowColor: #c8cad4;
   $linkBackgroudColor: #ddd;
   $linkColor:  #d9d9d9ba;
   $linkHoverBackgroundColor: #ddd;
   $logoBackgroundColor: linear-gradient(90deg, #833ab4 0%, #964798 17%, #bb626200 50%, #fcb045a3 100%);
   $emptySpanBackground:  whitesmoke;
   $inputBorderColor: #FFC2DC;
   $inputColor: #F072A9;
   $inputBackgroundColor:  #FFEFF6;
   $inputBoxShadowColor: #FFD5E7;
   $searchBackgroundColor: #ffffff;
   $scrollbarTrackColor: grey;
   $scrollbarThumbColor: linear-gradient(90deg, #833ab4a3 0%, #964798 17%, #bb6262 50%, #fcb045a3 100%);
   $scrollbarThumbHoverColor: linear-gradient(90deg, #833ab4 0%, #964798 17%, #bb6262 50%, #fcb045 100%);
   $buttonBackgroundColor:  #EB3B88;
   $buttonBoxShadowColor:  #FF62A7;
   $buttonBorderColor: #C94A81;
   $buttonHoverBackgroundColor:  #FFCBE2;
   $buttonHoverColor: #EB3B88;
   $buttonColor:  #FFCBE2;
   $alertColor: #ed5e5e;
   $buttonDisabledBackgroundColor:  #dddddd;
   $buttonDisabledColor:  #262626;
   $urlLinkColor: #0000ffbd;
   $fieldsetBorderColor: #FFD2D2;
   $fieldsetBoxShadowColor: #FFE5E5;
   $legendColor: #FFA0C9;
   $legendBorderColor: #FFD2D2;
   $legendBoxShadowColor:  #F1F1F1;
   $legendBackgroundColor: #FFF4F4;
   $inputTextColor: #F072A9;
   $inputTextShadowColor:  #262626;
 